Repository cuivienor/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: deadnix, statix, nixfmt, nix-flake-check, cargo-fmt, cargo-clippy, ansible-lint

.pre-commit-config.yaml:

# Pre-commit hooks for infra repository
# Install with: pre-commit install
# Run manually with: pre-commit run --all-files

repos:
  # Secret scanning (run first to catch leaks before commit)
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  # General file quality
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^ansible/vars/.*secrets.*\.yml$
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-case-conflict

  # Shell script linting (exclude zsh files - shellcheck doesn't understand zsh syntax)
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: [--severity=warning]
        exclude: \.zsh|\.zshrc|zsh-theme$

  # Nix linting and formatting (requires devShell - run: direnv allow)
  - repo: local
    hooks:
      - id: deadnix
        name: deadnix (remove dead code)
        entry: deadnix --edit --no-lambda-arg --no-lambda-pattern-names
        language: system
        files: \.nix$

      - id: statix
        name: statix (fix antipatterns)
        entry: bash -c 'for f in "$@"; do statix fix -- "$f" && statix check -- "$f"; done' --
        language: system
        files: \.nix$

      - id: nixfmt
        name: nixfmt (format)
        entry: nixfmt
        language: system
        files: \.nix$

      - id: nix-flake-check
        name: nix flake check
        entry: nix flake check
        language: system
        files: \.nix$
        pass_filenames: false

  # Rust linting and formatting for zesh (uses zesh devShell for edition 2024)
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: nix develop .#zesh --command cargo fmt --manifest-path apps/zesh/Cargo.toml --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: nix develop .#zesh --command cargo clippy --manifest-path apps/zesh/Cargo.toml -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Terraform formatting and linting
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
      - id: terraform_tflint
        args:
          - --args=--config=__GIT_WORKING_DIR__/terraform/.tflint.hcl

  # YAML linting (lighter than ansible-lint for commit hooks)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-c, .yamllint.yaml]
        exclude: ^ansible/vars/.*secrets.*\.yml$

  # Markdown link checker
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check
        args: [--quiet, --config, .markdown-link-check.json]

  # Ansible linting (uses local ansible-lint installation)
  # Must run from ansible/ directory to find roles and use .ansible-lint config
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: bash -c 'cd ansible && LC_ALL=C.UTF-8 LANG=C.UTF-8 ansible-lint --offline'
        language: system
        files: ^ansible/
        types: [yaml]
        pass_filenames: false

feat(cloudflare): expose mealie via tunnel
  terraform/cloudflare/variables.tf
Due: none

fix(terraform): correct CTID comment in mealie.tf
  terraform/proxmox-homelab/mealie.tf
Due: none

feat(dns): add mealie DNS rewrites
  ansible/playbooks/dns.yml
Due: ansible-lint

fix(mealie): add forwarded-allow-ips for OIDC behind proxy
  ansible/roles/mealie/templates/mealie.service.j2
Due: none

feat(mealie): add OpenAI integration
  ansible/roles/mealie/defaults/main.yml
  ansible/roles/mealie/templates/mealie.env.j2
Due: ansible-lint

feat(lldap): add mealie_users group and fix OIDC auth method
  ansible/playbooks/authelia.yml
  terraform/users.yaml
Due: ansible-lint

fix(mealie): extract frontend from Docker image instead of building
  ansible/roles/mealie/tasks/deploy.yml
Due: ansible-lint

feat(mealie): enable OIDC user auto-creation
  ansible/roles/mealie/defaults/main.yml
  ansible/roles/mealie/templates/mealie.env.j2
Due: ansible-lint

feat(flake): add claude-code-overlay for Nix-based installation
  flake.lock
  flake.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): add Claude Code config to personal profile
  home/profiles/personal/claude.nix
  home/profiles/personal/default.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(home): make rm/mv/cp aliases interactive-only and add gst alias
  home/users/cuiv/shell.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(home): make tool aliases interactive-only for agent compatibility
  home/users/cuiv/shell.nix
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

flake.lock: Update
  flake.lock
Due: none

fix(home): opt out of deprecated ssh default config
  home/users/cuiv/ssh.nix
Due: deadnix, statix, nixfmt, nix-flake-check

refactor(home): reorganize profiles into orthogonal concerns
  flake.nix
  home/profiles/ai-tools/claude.nix
  home/profiles/ai-tools/default.nix
  home/profiles/identity/personal.nix
  home/profiles/identity/shopify.nix
  home/profiles/personal/default.nix
  home/profiles/shell-env/shopify.nix
  home/profiles/shopify/default.nix
  home/users/cuiv/git.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(infra): add vault container for family knowledge vault
  ansible/inventory/hosts.yml
  ansible/playbooks/proxy.yml
  ansible/playbooks/vault.yml
  ansible/roles/vault/defaults/main.yml
  ansible/roles/vault/handlers/main.yml
  ansible/roles/vault/tasks/configure.yml
  ansible/roles/vault/tasks/database.yml
  ansible/roles/vault/tasks/install.yml
  ansible/roles/vault/tasks/main.yml
  ansible/roles/vault/tasks/repository.yml
  ansible/roles/vault/templates/local.ini.j2
  ansible/vars/vault_secrets.yml
  terraform/proxmox-homelab/vault.tf
Due: ansible-lint

feat(home): add vault-sync profile for LiveSync Bridge
  flake.nix
  home/profiles/vault-sync/default.nix
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): vault-sync with sops-nix managed secrets
  home/profiles/vault-sync/default.nix
  nixos/hosts/devbox/configuration.nix
  secrets/devbox.yaml
Due: deadnix, statix, nixfmt, nix-flake-check

feat(infra): add vault.paniland.com to DNS and Cloudflare tunnel
  ansible/playbooks/dns.yml
  terraform/cloudflare/variables.tf
Due: ansible-lint

fix(home): run deno install after cloning livesync-bridge
  home/profiles/vault-sync/default.nix
Due: deadnix, statix, nixfmt, nix-flake-check

security(vault): disable CouchDB self-registration
  ansible/roles/vault/tasks/database.yml
Due: ansible-lint

feat(backup): add pre-backup sync from service containers
  ansible/group_vars/lxc_containers.yml
  ansible/playbooks/backup.yml
  ansible/roles/common/defaults/main.yml
  ansible/roles/common/tasks/ssh-keys.yml
  ansible/roles/restic_backup/defaults/main.yml
  ansible/roles/restic_backup/tasks/main.yml
  ansible/roles/restic_backup/tasks/ssh_setup.yml
  ansible/roles/restic_backup/tasks/sync.yml
  ansible/roles/restic_backup/templates/pre-backup-sync.sh.j2
  docs/plans/2026-01-31-backup-improvements-design.md
Due: ansible-lint

feat(home): add SSH host aliases for all homelab infrastructure
  home/users/cuiv/ssh.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(backup): use --relative rsync and move group_vars to inventory/
  ansible/group_vars/lxc_containers.yml
  ansible/inventory/group_vars/lxc_containers.yml
  ansible/roles/restic_backup/templates/pre-backup-sync.sh.j2
Due: ansible-lint

refactor(home): remove vault directory scaffolding from vault-sync profile
  home/profiles/vault-sync/default.nix
Due: deadnix, statix, nixfmt, nix-flake-check
