Repository cuivienor/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: deadnix, statix, nixfmt, nix-flake-check, cargo-fmt, cargo-clippy, ansible-lint

.pre-commit-config.yaml:

# Pre-commit hooks for infra repository
# Install with: pre-commit install
# Run manually with: pre-commit run --all-files

repos:
  # Secret scanning (run first to catch leaks before commit)
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  # General file quality
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^ansible/vars/.*secrets.*\.yml$
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-case-conflict

  # Shell script linting (exclude zsh files - shellcheck doesn't understand zsh syntax)
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: [--severity=warning]
        exclude: \.zsh|\.zshrc|zsh-theme$

  # Nix linting and formatting (requires devShell - run: direnv allow)
  - repo: local
    hooks:
      - id: deadnix
        name: deadnix (remove dead code)
        entry: deadnix --edit --no-lambda-arg --no-lambda-pattern-names
        language: system
        files: \.nix$

      - id: statix
        name: statix (fix antipatterns)
        entry: bash -c 'for f in "$@"; do statix fix -- "$f" && statix check -- "$f"; done' --
        language: system
        files: \.nix$

      - id: nixfmt
        name: nixfmt (format)
        entry: nixfmt
        language: system
        files: \.nix$

      - id: nix-flake-check
        name: nix flake check
        entry: nix flake check
        language: system
        files: \.nix$
        pass_filenames: false

  # Rust linting and formatting for zesh (uses zesh devShell for edition 2024)
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: nix develop .#zesh --command cargo fmt --manifest-path apps/zesh/Cargo.toml --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: nix develop .#zesh --command cargo clippy --manifest-path apps/zesh/Cargo.toml -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Terraform formatting and linting
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
      - id: terraform_tflint
        args:
          - --args=--config=__GIT_WORKING_DIR__/terraform/.tflint.hcl

  # YAML linting (lighter than ansible-lint for commit hooks)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-c, .yamllint.yaml]
        exclude: ^ansible/vars/.*secrets.*\.yml$

  # Markdown link checker
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check
        args: [--quiet, --config, .markdown-link-check.json]

  # Ansible linting (uses local ansible-lint installation)
  # Must run from ansible/ directory to find roles and use .ansible-lint config
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: bash -c 'cd ansible && LC_ALL=C.UTF-8 LANG=C.UTF-8 ansible-lint --offline'
        language: system
        files: ^ansible/
        types: [yaml]
        pass_filenames: false

feat(home): Standardize zellij rename key to 'r' in pane mode
  home/users/cuiv/zellij/config.kdl
Due: none

feat(home): Add vim-style scroll and search keybindings for zellij
  home/users/cuiv/zellij/config.kdl
Due: none

feat(home): Standardize zellij rename key to 'c' in pane and tab mode
  home/users/cuiv/zellij/config.kdl
Due: none

feat(home,dotfiles): Seamless nvim/zellij navigation with Alt mode keys
  dotfiles/stow/nvim/.config/nvim/lua/plugins/vim-tmux-navigator.lua
  dotfiles/stow/nvim/.config/nvim/lua/plugins/zellij-nav.lua
  home/users/cuiv/zellij/config.kdl
Due: none

fix(home): Always show zellij pane frame to avoid flash on tab switch
  home/users/cuiv/zellij/layouts/default.kdl
Due: none

feat(home): Add nixCats-based neovim configuration
  flake.lock
  flake.nix
  home/users/cuiv/default.nix
  home/users/cuiv/neovim.nix
  home/users/cuiv/neovim/init.lua
  home/users/cuiv/neovim/lua/autocommands.lua
  home/users/cuiv/neovim/lua/keymaps.lua
  home/users/cuiv/neovim/lua/options.lua
  home/users/cuiv/neovim/lua/plugins/completion.lua
  home/users/cuiv/neovim/lua/plugins/debug.lua
  home/users/cuiv/neovim/lua/plugins/editor.lua
  home/users/cuiv/neovim/lua/plugins/format.lua
  home/users/cuiv/neovim/lua/plugins/git.lua
  home/users/cuiv/neovim/lua/plugins/init.lua
  home/users/cuiv/neovim/lua/plugins/lsp.lua
  home/users/cuiv/neovim/lua/plugins/navigation.lua
  home/users/cuiv/neovim/lua/plugins/treesitter.lua
  home/users/cuiv/neovim/lua/plugins/ui.lua
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(home): Replace VeryLazy with DeferredUIEnter for lze
  home/users/cuiv/neovim/lua/plugins/ui.lua
Due: none

fix(home): Open nvim in current directory in zellij layout
  home/users/cuiv/zellij/layouts/default.kdl
Due: none

fix(home): Load oil.nvim on VimEnter and disable netrw
  home/users/cuiv/neovim/init.lua
  home/users/cuiv/neovim/lua/plugins/navigation.lua
Due: none

feat(home): Add zellij-nav.nvim for seamless nvim/zellij pane navigation
  home/users/cuiv/neovim.nix
  home/users/cuiv/neovim/lua/plugins/navigation.lua
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): Enable OSC 52 clipboard for headless neovim
  home/users/cuiv/neovim/lua/options.lua
Due: none

fix(home): Enable formatters and linters categories in neovim
  home/users/cuiv/neovim.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(home): Disable OSC 52 paste to avoid timeout
  home/users/cuiv/neovim/lua/options.lua
Due: none

feat(home): Add nodejs_22 for Claude Code installation
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): Add npm-global bin to PATH for Claude Code
  home/users/cuiv/shell.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): Add Claude Code configuration module
  home/users/cuiv/claude.nix
  home/users/cuiv/claude/CLAUDE.md
  home/users/cuiv/claude/agents/bash-script-writer.md
  home/users/cuiv/default.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): Add ccstatusline to Claude config using npx
  home/users/cuiv/claude.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(home): Force Node.js to prefer IPv4 on devbox
  home/users/cuiv/shell.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): Add openssl and dnsutils for network debugging
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): Add vi-mode cursor shape switching for zsh
  home/users/cuiv/shell.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): Make Home Manager portable across Linux, macOS, WSL
  flake.nix
  home/users/cuiv/default.nix
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(home): Use stdenv.hostPlatform.system instead of deprecated pkgs.system
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

Allow anthoropic metrics in dns
  ansible/playbooks/dns.yml
Due: ansible-lint

feat(apps): Add gramofonche-downloader Python app with Nix tooling
  .pre-commit-config.yaml
  apps/gramofonche-downloader/gramofonche_downloader/__init__.py
  apps/gramofonche-downloader/gramofonche_downloader/__main__.py
  apps/gramofonche-downloader/pyproject.toml
  apps/gramofonche-downloader/tests/__init__.py
  apps/gramofonche-downloader/tests/test_main.py
  flake.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(jellyfin): Add Intel OpenCL support for HDR tonemapping
  ansible/roles/jellyfin/handlers/main.yml
  ansible/roles/jellyfin/tasks/main.yml
Due: ansible-lint

feat(apps): Implement gramofonche-downloader and deploy to analyzer
  .gitignore
  ansible/roles/media_analyzer/defaults/main.yml
  apps/gramofonche-downloader/gramofonche_downloader/__main__.py
  apps/gramofonche-downloader/tests/test_main.py
  flake.nix
Due: deadnix, statix, nixfmt, nix-flake-check, ansible-lint

fix(apps): Update gramofonche-downloader User-Agent for Cloudflare
  apps/gramofonche-downloader/gramofonche_downloader/__main__.py
Due: none

docs: add opencode home-manager implementation plan
  docs/plans/2026-01-06-opencode-home-manager.md
Due: none

feat(home): add opencode base module with oh-my-opencode
  home/users/cuiv/opencode/default.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): add opencode personal profile with OAuth plugins
  home/users/cuiv/opencode/personal.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(devbox): enable opencode with personal profile
  flake.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(devbox): enable nix-ld for npm binaries
  nixos/hosts/devbox/configuration.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(home): correct opencode.json schema (plugin not plugins, remove shell)
  home/users/cuiv/opencode/default.nix
  home/users/cuiv/opencode/personal.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): add work-macbook profile with Shopify integrations
  docs/plans/2025-01-07-work-macbook-home-manager.md
  flake.nix
  home/CLAUDE.md
  home/profiles/personal/default.nix
  home/profiles/shopify/default.nix
  home/profiles/shopify/git.nix
  home/profiles/shopify/shell.nix
  home/users/cuiv/default.nix
  home/users/cuiv/shell.nix
  home/users/cuiv/tmux.nix
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): add macOS configs for aerospace and ghostty
  home/users/cuiv/default.nix
  home/users/cuiv/macos.nix
  home/users/cuiv/macos/aerospace.toml
  home/users/cuiv/macos/ghostty.config
Due: deadnix, statix, nixfmt, nix-flake-check

fix(flake): make devShells available on all systems
  flake.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(zesh): use --no-formatting flag and support in-session switching
  apps/zesh/src/zellij.rs
Due: cargo-fmt, cargo-clippy

feat(home): add Raycast script commands to macos config
  home/users/cuiv/macos.nix
  home/users/cuiv/macos/raycast/chrome-new-window.sh
  home/users/cuiv/macos/raycast/chrome-work-tabs.sh
  home/users/cuiv/macos/raycast/ghostty-new-window.sh
Due: deadnix, statix, nixfmt, nix-flake-check

feat(zellij): add tmux mode with Ctrl-Space prefix
  home/users/cuiv/zellij/config.kdl
Due: none

fix(zesh): use zellij-switch plugin for in-session switching
  apps/zesh/src/zellij.rs
Due: cargo-fmt, cargo-clippy
