Repository cuivienor/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: deadnix, statix, nixfmt, nix-flake-check, cargo-fmt, cargo-clippy, ansible-lint

deadnix:
  name: deadnix (remove dead code)
  entry: deadnix --edit --no-lambda-arg --no-lambda-pattern-names
  language: system

statix:
  name: statix (fix antipatterns)
  entry: bash -c 'for f in "$@"; do statix fix -- "$f" && statix check -- "$f"; done' --
  language: system

nixfmt:
  name: nixfmt (format)
  entry: nixfmt
  language: system

nix-flake-check:
  name: nix flake check
  entry: nix flake check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: nix develop .#zesh --command cargo fmt --manifest-path apps/zesh/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: nix develop .#zesh --command cargo clippy --manifest-path apps/zesh/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

ansible-lint:
  name: ansible-lint
  entry: bash -c 'cd ansible && LC_ALL=C.UTF-8 LANG=C.UTF-8 ansible-lint --offline'
  language: system
  pass_filenames: false

feat(home): Add neovim and lazygit packages
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(zellij): Use absolute nix store path for zjstatus plugin
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

docs: add LXC bootstrap template implementation plan
  docs/plans/2025-12-28-lxc-bootstrap-template.md
Due: none

docs(dotfiles): add post-install setup instructions for tmux plugins
  dotfiles/README.md
Due: none

feat(nixos): add bootstrap configuration for LXC template
  nixos/hosts/bootstrap/configuration.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(images): add images zone with nixos-generators flake
  images/CLAUDE.md
  images/flake.lock
  images/flake.nix
Due: deadnix, statix, nixfmt, nix-flake-check

ci: add GitHub Actions workflow for LXC template builds
  .github/workflows/build-lxc-templates.yml
Due: none

feat(terraform): use custom NixOS template from GitHub releases
  terraform/proxmox-homelab/devbox.tf
  terraform/proxmox-homelab/templates.tf
Due: none

fix(terraform): update devbox comment to reflect custom template source
  terraform/proxmox-homelab/devbox.tf
Due: none

chore(claude): add project permission settings
  .claude/settings.json
  .gitignore
Due: none

docs(home): add zjstatus permission grant helper layout
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(zellij): Rice zjstatus with powerline tabs and Catppuccin Mocha
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(zesh): Use user's default.kdl layout when creating sessions
  apps/zesh/src/zellij.rs
Due: cargo-fmt, cargo-clippy

fix(zesh): Use full path to default.kdl layout
  apps/zesh/src/zellij.rs
Due: cargo-fmt, cargo-clippy

chore(nix): Remove zellij from infra devShell
  flake.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(zellij): Simplify git branch command for zjstatus
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(zellij): Update zjstatus to merikan catppuccin style
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(zellij): Add powerline separator characters to zjstatus
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(zellij): Use verbatim merikan catppuccin zjstatus config
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

refactor(zellij): Extract zjstatus layout to external file
  home/users/cuiv/tools.nix
  home/users/cuiv/zellij/layouts/default.kdl
Due: deadnix, statix, nixfmt, nix-flake-check

revert(zellij): Remove unnecessary trailing space from format_right
  home/users/cuiv/zellij/layouts/default.kdl
Due: none

fix(zellij): Clean up zjstatus layout
  home/users/cuiv/zellij/layouts/default.kdl
Due: none

chore(zesh): Add Rust best practices configuration
  apps/zesh/Cargo.toml
  apps/zesh/src/discovery.rs
  apps/zesh/src/frecency.rs
  apps/zesh/src/main.rs
  apps/zesh/src/picker.rs
Due: cargo-fmt, cargo-clippy

refactor(zesh): Enable clippy pedantic lints and fix all warnings
  apps/zesh/Cargo.toml
  apps/zesh/src/config.rs
  apps/zesh/src/discovery.rs
  apps/zesh/src/frecency.rs
  apps/zesh/src/main.rs
  apps/zesh/src/picker.rs
  apps/zesh/src/zellij.rs
Due: cargo-fmt, cargo-clippy

refactor(nix): Consolidate devshells into unified default
  flake.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(zellij): Run layout commands through shell for direnv support
  home/users/cuiv/zellij/layouts/default.kdl
Due: none

Update nvim plugins
  dotfiles/stow/nvim/.config/nvim/lazy-lock.json
Due: none

feat(ai): Add AI tooling zone with cuiv-skills plugin
  .claude-plugin/marketplace.json
  ai/CLAUDE.md
  ai/claude-plugins/cuiv-skills/.codex/INSTALL.md
  ai/claude-plugins/cuiv-skills/.codex/cuiv-skills-bootstrap.md
  ai/claude-plugins/cuiv-skills/.codex/cuiv-skills-codex
  ai/claude-plugins/cuiv-skills/.opencode/INSTALL.md
  ai/claude-plugins/cuiv-skills/.opencode/plugin/cuiv-skills.js
  ai/claude-plugins/cuiv-skills/agents/code-reviewer.md
  ai/claude-plugins/cuiv-skills/commands/brainstorm.md
  ai/claude-plugins/cuiv-skills/commands/execute-plan.md
  ai/claude-plugins/cuiv-skills/commands/write-plan.md
  ai/claude-plugins/cuiv-skills/docs/README.codex.md
  ai/claude-plugins/cuiv-skills/docs/README.opencode.md
  ai/claude-plugins/cuiv-skills/docs/windows/polyglot-hooks.md
  ai/claude-plugins/cuiv-skills/hooks/hooks.json
  ai/claude-plugins/cuiv-skills/hooks/run-hook.cmd
  ai/claude-plugins/cuiv-skills/hooks/session-start.sh
  ai/claude-plugins/cuiv-skills/lib/skills-core.js
  ai/claude-plugins/cuiv-skills/plugin.json
  ai/claude-plugins/cuiv-skills/skills/example/SKILL.md
  ai/claude-plugins/cuiv-skills/skills/using-cuiv-skills/SKILL.md
  ai/mcp-servers/.gitkeep
  ai/tools/.gitkeep
Due: none

refactor(ai): Move cuiv-skills to dedicated repository
  .claude-plugin/marketplace.json
  ai/CLAUDE.md
  ai/claude-plugins/cuiv-skills/.codex/INSTALL.md
  ai/claude-plugins/cuiv-skills/.codex/cuiv-skills-bootstrap.md
  ai/claude-plugins/cuiv-skills/.codex/cuiv-skills-codex
  ai/claude-plugins/cuiv-skills/.opencode/INSTALL.md
  ai/claude-plugins/cuiv-skills/.opencode/plugin/cuiv-skills.js
  ai/claude-plugins/cuiv-skills/agents/code-reviewer.md
  ai/claude-plugins/cuiv-skills/commands/brainstorm.md
  ai/claude-plugins/cuiv-skills/commands/execute-plan.md
  ai/claude-plugins/cuiv-skills/commands/write-plan.md
  ai/claude-plugins/cuiv-skills/docs/README.codex.md
  ai/claude-plugins/cuiv-skills/docs/README.opencode.md
  ai/claude-plugins/cuiv-skills/docs/windows/polyglot-hooks.md
  ai/claude-plugins/cuiv-skills/hooks/hooks.json
  ai/claude-plugins/cuiv-skills/hooks/run-hook.cmd
  ai/claude-plugins/cuiv-skills/hooks/session-start.sh
  ai/claude-plugins/cuiv-skills/lib/skills-core.js
  ai/claude-plugins/cuiv-skills/plugin.json
  ai/claude-plugins/cuiv-skills/skills/example/SKILL.md
  ai/claude-plugins/cuiv-skills/skills/using-cuiv-skills/SKILL.md
Due: none

docs: Update cuiv-skills install instructions
  ai/CLAUDE.md
Due: none

docs: Add home/ zone with zellij and tool preferences
  CLAUDE.md
  dotfiles/stow/claude/.claude/settings.json
  home/CLAUDE.md
Due: none

Path conditions:
  deadnix: any of: \.nix$
  statix: any of: \.nix$
  nixfmt: any of: \.nix$
  nix-flake-check: any of: \.nix$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ansible-lint: any of: ^ansible/ and \.(yaml|yml)$
