Repository cuivienor/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: deadnix, statix, nixfmt, nix-flake-check, cargo-fmt, cargo-clippy, ansible-lint

.pre-commit-config.yaml:

# Pre-commit hooks for infra repository
# Install with: pre-commit install
# Run manually with: pre-commit run --all-files

repos:
  # Secret scanning (run first to catch leaks before commit)
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  # General file quality
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^ansible/vars/.*secrets.*\.yml$
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-case-conflict

  # Shell script linting (exclude zsh files - shellcheck doesn't understand zsh syntax)
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: [--severity=warning]
        exclude: \.zsh|\.zshrc|zsh-theme$

  # Nix linting and formatting (requires devShell - run: direnv allow)
  - repo: local
    hooks:
      - id: deadnix
        name: deadnix (remove dead code)
        entry: deadnix --edit --no-lambda-arg --no-lambda-pattern-names
        language: system
        files: \.nix$

      - id: statix
        name: statix (fix antipatterns)
        entry: bash -c 'for f in "$@"; do statix fix -- "$f" && statix check -- "$f"; done' --
        language: system
        files: \.nix$

      - id: nixfmt
        name: nixfmt (format)
        entry: nixfmt
        language: system
        files: \.nix$

      - id: nix-flake-check
        name: nix flake check
        entry: nix flake check
        language: system
        files: \.nix$
        pass_filenames: false

  # Rust linting and formatting for zesh (uses zesh devShell for edition 2024)
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: nix develop .#zesh --command cargo fmt --manifest-path apps/zesh/Cargo.toml --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: nix develop .#zesh --command cargo clippy --manifest-path apps/zesh/Cargo.toml -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Terraform formatting and linting
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
      - id: terraform_tflint
        args:
          - --args=--config=__GIT_WORKING_DIR__/terraform/.tflint.hcl

  # YAML linting (lighter than ansible-lint for commit hooks)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-c, .yamllint.yaml]
        exclude: ^ansible/vars/.*secrets.*\.yml$

  # Markdown link checker
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.1
    hooks:
      - id: markdown-link-check
        args: [--quiet, --config, .markdown-link-check.json]

  # Ansible linting (uses local ansible-lint installation)
  # Must run from ansible/ directory to find roles and use .ansible-lint config
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: bash -c 'cd ansible && LC_ALL=C.UTF-8 LANG=C.UTF-8 ansible-lint --offline'
        language: system
        files: ^ansible/
        types: [yaml]
        pass_filenames: false

feat(zesh): install zellij-switch plugin via Home Manager
  apps/zesh/src/zellij.rs
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check, cargo-fmt, cargo-clippy

feat(home): add gh (GitHub CLI) to user packages
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(healthlib): scaffold app structure
  apps/healthlib/healthlib/__init__.py
  apps/healthlib/healthlib/__main__.py
  apps/healthlib/pyproject.toml
  apps/healthlib/tests/__init__.py
  apps/healthlib/tests/test_version.py
Due: none

feat(healthlib): add to flake.nix localPackagesOverlay
  flake.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(healthlib): add SOPS secrets config and template
  .gitignore
  apps/healthlib/.sops.yaml
  apps/healthlib/vars/healthlib_secrets.sops.yaml.example
Due: none

feat(healthlib): add config module with SOPS integration
  apps/healthlib/healthlib/config.py
  apps/healthlib/tests/test_config.py
Due: none

feat(healthlib): add Garmin client with activity primitives
  apps/healthlib/healthlib/garmin.py
  apps/healthlib/tests/test_garmin.py
Due: none

feat(healthlib): add Strava client with activity primitives
  apps/healthlib/healthlib/strava.py
  apps/healthlib/tests/test_strava.py
Due: none

feat(healthlib): wire CLI with auth, strava, and garmin commands
  apps/healthlib/healthlib/__main__.py
Due: none

docs(healthlib): add README with setup and usage instructions
  apps/healthlib/README.md
Due: none

feat(healthlib): add Garmin MFA auth and token persistence
  apps/healthlib/healthlib/__main__.py
  apps/healthlib/healthlib/garmin.py
  flake.nix
Due: deadnix, statix, nixfmt, nix-flake-check

chore(healthlib): add encrypted secrets file
  apps/healthlib/vars/healthlib_secrets.sops.yaml
Due: none

docs(healthlib): add comprehensive Garmin/Strava data reference
  apps/healthlib/docs/data-reference.md
Due: none

docs(healthlib): add gear management API reference
  apps/healthlib/docs/data-reference.md
Due: none

docs(healthlib): add Garmin workout management API reference
  apps/healthlib/docs/data-reference.md
Due: none

docs: streamline CLAUDE.md files with telegraphic style
  CLAUDE.md
  ai/CLAUDE.md
  ansible/CLAUDE.md
  apps/media-pipeline/CLAUDE.md
  apps/session-manager/CLAUDE.md
  apps/zesh/CLAUDE.md
  dotfiles/CLAUDE.md
  home/CLAUDE.md
  images/CLAUDE.md
  terraform/CLAUDE.md
Due: none

feat(devbox): add GitHub SSH key provisioning with sops-nix
  .gitignore
  .sops.yaml
  .yamllint.yaml
  docs/plans/2026-01-07-devbox-github-ssh-key-design.md
  flake.lock
  flake.nix
  home/users/cuiv/default.nix
  home/users/cuiv/ssh.nix
  nixos/hosts/devbox/configuration.nix
  secrets/devbox.yaml
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): add gh (GitHub CLI) to tools
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(zesh): add in-session switching with layout support
  apps/zesh/src/zellij.rs
Due: cargo-fmt, cargo-clippy

fix(home): remove grep/find aliases to preserve system defaults
  home/users/cuiv/shell.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): complete tmux config port from dotfiles
  home/users/cuiv/tmux.nix
Due: deadnix, statix, nixfmt, nix-flake-check

chore(home): stop managing Claude settings via Nix
  home/users/cuiv/default.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(home): pin oh-my-opencode to 3.0.0-beta.5
  home/users/cuiv/opencode/default.nix
  home/users/cuiv/opencode/personal.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(home): fix t sessionizer keybinding for interactive fzf
  home/users/cuiv/tmux.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): complete t script and default layout port from dotfiles
  home/users/cuiv/tools.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): set default model to claude-opus-4-5
  home/users/cuiv/claude.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): add ccstatusline config with Catppuccin theme
  home/users/cuiv/claude.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(home): disable Claude Code auto-updater notifications
  home/users/cuiv/shell.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat: add mealie container and devbox SSH key
  ansible/files/ssh-keys/devbox.pub
  flake.nix
  terraform/proxmox-homelab/mealie.tf
Due: deadnix, statix, nixfmt, nix-flake-check

Staging mealie changes
  ansible/inventory/hosts.yml
  ansible/roles/mealie/defaults/main.yml
  terraform/proxmox-homelab/mealie.tf
Due: ansible-lint

fix(nixos): prefer IPv4 to avoid intermittent timeouts on devbox
  nixos/hosts/devbox/configuration.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): export GH_TOKEN dynamically in shell init
  home/users/cuiv/shell.nix
Due: deadnix, statix, nixfmt, nix-flake-check

feat(home): add bash tec init for Shopify profile
  home/profiles/shopify/shell.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(home): enable OSC 52 clipboard in tmux for neovim
  home/users/cuiv/tmux.nix
Due: deadnix, statix, nixfmt, nix-flake-check

fix(home): enable OSC 52 clipboard in Ghostty
  home/users/cuiv/macos/ghostty.config
Due: none

feat(ansible): add Mealie recipe manager deployment
  ansible/playbooks/authelia.yml
  ansible/playbooks/mealie.yml
  ansible/playbooks/proxy.yml
  ansible/roles/common/defaults/main.yml
  ansible/roles/mealie/defaults/main.yml
  ansible/roles/mealie/handlers/main.yml
  ansible/roles/mealie/tasks/deploy.yml
  ansible/roles/mealie/tasks/install.yml
  ansible/roles/mealie/tasks/main.yml
  ansible/roles/mealie/tasks/postgresql.yml
  ansible/roles/mealie/tasks/systemd.yml
  ansible/roles/mealie/templates/mealie.env.j2
  ansible/roles/mealie/templates/mealie.service.j2
  ansible/vars/secrets.yml
Due: ansible-lint

docs: add devshell prerequisites and troubleshooting
  .claude/skills/homelab-iac/SKILL.md
  .claude/skills/nix/SKILL.md
  CLAUDE.md
  ansible/CLAUDE.md
  terraform/CLAUDE.md
Due: none

fix(authelia): support configurable OIDC client settings
  ansible/roles/authelia/templates/configuration.yml.j2
Due: none

fix(proxy): add forwarding headers and cleanup authelia config
  ansible/roles/authelia/templates/configuration.yml.j2
  ansible/roles/caddy/templates/Caddyfile.j2
Due: none

fix(authelia): revert incompatible default_redirection_url
  ansible/roles/authelia/templates/configuration.yml.j2
Due: none
